@import "../../style/partials/variables";
@import "../../style/partials/mixin";

.recipe-details {
    padding: 0 3.125rem 3.125rem;

    &__logo {
        margin-bottom: 2rem;
    }

    &__flex-container {
        display: flex;
        margin-bottom: 5.5625rem;
    }

    &__ingredients-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 5.625rem;
    }

    &__img-container {
        height: 31.125rem;
        margin-right: 13.3125rem;
    }

    &__recipe-title {
        font-size: 1.4375rem;
        font-weight: 700;
        margin: 0 0 0.5rem 0;
    }
    
    &__rating {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__rating-icon {
        margin: 4px 6px 0 0;
    }

    &__rating-text {
        font-size:  1rem;
        color: $button-colour;
        margin: 0;
    }

    &__ingredients p {
        font-size: 1rem;
        line-height: 20px;
        margin: 0;
    }

    &__total-price {
        font-size: 1.625rem;
        line-height: 30.47px;
        margin: 1.5rem 0 3px 0;
    }

    &__serving-price {
        font-size: 1rem;
        font-weight: 500;
        line-height: 18.75px;
        margin: 0 0 1.125rem;
    }

    &__serving-size {
        font-size: 1rem;
        font-weight: 500;
        line-height: 18.75px;
        margin: 0 0 1.875rem;
    }

    &__btn-group {
        display: flex;
        margin-bottom: 3.8125rem;
    }

    &__btn {
        color: white;
        background: $button-colour;
        font-size: 2.125rem;
        width: 42px;
        height: 42px;
        border: none;
        border-radius: 50%;

        &--less {
            font-size: 3.125rem;
            line-height: 0.5rem;
            padding-bottom: 0.5rem;
        }

        &--cart {
            width: 11rem;
            border-radius: 26px;
            font-size: 1rem;
            font-weight: 500;
        }

        &--disabled {
            opacity: 0.5;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }

    &__serving-qty {
        font-size: 1.5rem;
        line-height: 2.8rem;
        margin: 0 2.75rem;
    }

    &__instructions {
        display: flex;
    }

    &__instructions-title {
        font-size: 1.5rem;
        margin: 1.125rem 0 3.75rem;
    }

    &__instructions-icon {
        display: flex;
        margin-right: 3.9375rem;
    }

    &__icon-text {
        color: $button-colour;
        font-size: 1rem;
        margin: 0 0 0 11px;
    }
    
    &__instructions-recipe {
        width: 20rem;
        font-size: 1.125rem;
        margin-right: 16.125rem;
    }

    &__instructions-directions {
        width: 26.25rem;
        margin-bottom: 5.875rem;
    }

    &__reviews {
        width: 100%;
    } 
}

span {
    text-decoration: underline;
}