@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Italic.woff2") format("woff2"), url("../../assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.header__covid {
  margin: 0 50px;
  background-color: #0072ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 14px;
}

.header__covid--text {
  margin: 0;
}

.header__middle-bar {
  padding: 0 50px;
  padding-right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo--slogan {
  padding-left: 9.57px;
  margin-top: -7px;
}

.header__nav {
  margin-top: 17px;
  margin-bottom: 18px;
  padding: 0 50px;
  padding-right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #0072ce;
}

.header__nav--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 69%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin-left: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav--right a:nth-child(1) {
  color: #507b22;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__discount {
  margin-top: 16px;
}

.hero__chef-box {
  margin-top: 34px;
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__advertise {
  margin-top: 43px;
  margin-bottom: 70px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f1ef;
}

.checkout__credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  margin: 0 50px;
  border-bottom: 1px solid #e6e7e8;
  margin-bottom: 8px;
}

.checkout__credit-card p {
  font-size: 15px;
}

.checkout__card {
  margin-right: 28px;
}

.checkout__box {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e7e8;
  margin-bottom: 40px;
}

.checkout__left-box {
  width: 74%;
  border-right: 1px solid #e6e7e8;
  padding-right: 16px;
}

.checkout__left-box h1 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 24px;
}

.checkout__page-name {
  margin-top: 22px;
  color: #507b22;
  margin-bottom: 57px;
}

.checkout__cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.checkout__food {
  margin-right: 130px;
}

.checkout__cart-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.checkout__gift {
  margin-right: 4px;
}

.checkout__serving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__serving--size {
  margin-left: 44px;
  margin-right: 39px;
}

.checkout__remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.checkout__right-box {
  padding-top: 133px;
  padding-left: 21px;
  padding-right: 15px;
  width: 26%;
}

.checkout__calculate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout__right-top {
  padding-bottom: 51px;
  border-bottom: 1px solid #e6e7e8;
  margin-bottom: 30px;
}

.checkout__right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__btm {
  margin: 0 50px;
}

.checkout__saved {
  font-size: 23px;
  font-weight: normal;
}

.checkout__saved-text {
  color: #6d6e71;
  margin-bottom: 69px;
}

.checkout__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 63px;
}

.checkout-btn {
  border-radius: 26px;
  padding: 11px 51px;
  background-color: #507b22;
  color: #ffffff;
  width: 176px;
  margin-top: 91px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0072ce;
}
/*# sourceMappingURL=App.css.map */