$primary-colour: #0072ce;
$secondary-colour: #ffb81c;
$background-colour: #ffffff;
$text-colour: #373b37;
$active-colour: #006bc2;
$sales-colour: #e3403d;
$carts-colour: #2bac76;
$extra-colour: #350d36;

$button-colour: #507b22;
$footer-bg-colour: #f2f1ef;
$lines: #e6e7e8;
